body {
    margin: 0;
    background: #F8F9FA;
    font-family: Kanit;
    color: #26292E;
}


.home {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2D2D2D;
}

nav, .right-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;    
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.right-items {
    font-family: Mulish;
    font-weight: 700;
    font-size: 1rem;
}

.right-items i {
    font-size: 1.1rem;
}

nav {
    padding: 1.5rem 0rem;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.205);
    background: #FFFFFF;
}

.header-button {
    display: flex;
    gap: 0.5rem;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 20px;
    background: #5300F2;
    color: #F6F4FE;
    font-size: 0.9rem;
    font-weight:500;
    align-items: center;
}

.active {
    color: #7A3AF6;
}


main {
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}

h1 {
    font-family: Newsreader;
    font-size: 6vw;
}

section {
    background: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-height: 80vh;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0rem;
    background: blue;
}

.left p {
    font-size: 1.3rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: chartreuse;
    position: relative;
    z-index: 1;
}

.right img {
    width: 49%;
    z-index: 20;
}

.right .circle {
    width: 80%;
    aspect-ratio: 1/1;
    background: rgb(103,0,238);
    background: linear-gradient(90deg, rgba(103,0,238,1) 0%, rgba(183,0,226,1) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}